@model IEnumerable<Library.Models.SetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create new set", "Create", new { shelfId = ViewBag.ShelfId })
</p>
<table class="table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.ShelfId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.ShelfId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
            <td>
                @Html.ActionLink("Books", "Index", "Book", new { setId = item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
